.list {
  &__link {
    text-decoration: none;
    color: #5475fb;
  }

  &__row {
    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }

  &__header {
    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }

  tr,
  th {
    border-bottom: 1px solid #a9a9a9 !important;
  }

  &__more {
    font-size: 14px;
    text-align: right;

    a {
      color: #5475fb;
    }
  }
}

.table-responsive {
  overflow-x: hidden;
  height: 170px;
  max-height: 170px;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
}
