.list {
  &__link {
    text-decoration: none;
    color: #5475fb;
  }

  &__row {
    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }

  &__header {
    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }

  tr,
  th {
    border-bottom: 1px solid #a9a9a9 !important;
  }
}

.table-responsive {
  overflow-x: scroll;
  height: 200px;
  max-height: 200px;
}
